body{
    background-color:#f62a1f;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
#oval {
    position: absolute;
	width: 100vw;
	height:200vh;
    bottom: 20%;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 8000px / 1000px;
    /*box-shadow: 0px -7px 50px 17px rgba(0,0,0,0.7);*/
    z-index: -1000;

}
    .mid {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}
#center-text{
    font-weight:700;
    font-size:1.3rem;
    margin-bottom:50px;
}
.icons{
    max-width: 80%;
}
.products{
    margin-bottom:50px;
}
#logo{
    width:100%;
}
.text-center{
    font-size:18px;
}
.bottom {
    position: absolute;
    bottom:-2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 50px;
	width: 50px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	border-radius: 50px;
	background-color:#f62a1f;
    padding-top:10px;
}
.twitter {
	color:white;
}
.facebook {
	color:white;
}
.youtube-play {
	color:white;
}
.instagram {
    color:white;
}
a.link {
	color: inherit;	
}

.single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
 .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 1);
border-color: transparent;
border-radius: 20px 0 0 20px; }
 .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
 .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}

@media only screen and (max-width: 800px) {
    #oval {
    position: absolute;
    width: 100vw;
    height:200vh;
    bottom: 23%;
    background: white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 8000px / 1000px;
/*    box-shadow: inset 0 -10px 100px -10px #8c8c8c;*/
    z-index: -1000;

}
    .mid {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}
}
@media only screen and (max-width: 640px) {
    #center-text {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 20px;
}
.products {
    margin-bottom: 20px;
}
.text-center {
    font-size: 14px;
}

    #oval {
    position: absolute;
    width: 100vw;
    height:200vh;
    bottom: 28%;
    background: white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 8000px / 1000px;
/*    box-shadow: inset 0 -10px 100px -10px #8c8c8c;*/
    z-index: -1000;

}
    .mid {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}
}
